/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
   box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
   margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   font-family: Arial, Helvetica, sans-serif;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
   font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}
a {
   text-decoration: none;
   color: inherit;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
   isolation: isolate;
}

:root {
   --headre-color: #303450;
}
.header {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 0;
}

.header-color {
   background-color: var(--headre-color);
   color: #fff;
}

.frame {
   width: 100%;
   max-width: 800px;
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.nav-bar ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-bar ul li {
   list-style: none;
   text-decoration: none;
   margin: 0 10px;
   cursor: pointer;
   color: #fff;
   padding: 0.325rem 0.725rem;
   border-radius: 0.5rem;
}
.nav-bar ul li:hover {
   color: #303450;
   background-color: #fff;
}

.table {
   width: 400px;
   margin: auto;
   /* border: 1px solid black; */
   margin-top: 1rem;
}

.table-cell {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #303450;
}
.city-menu {
   display: flex;
   flex-direction: column;
   position: relative;
}

.city-menu button {
   width: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.city-menu ul {
   width: 120px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background: #303450;
   position: absolute;
   top: 50px;
   padding-left: 0;
   padding: 10px;
}
.city-menu ul li {
   width: 100%;
   color: #fff;
   margin: 0;
   padding: 0.5rem;
   font-size: 0.7rem;
}
.arrow {
   margin-left: 1rem;
}
.page-two {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.search {
   margin-bottom: 2rem;
   width: 150px;
   margin-right: 1rem;
   border-radius: 0.5rem;
}
.select {
   width: 100px;
   margin-right: 0.5rem;
}
.select option {
   font-size: 0.5rem;
}

.form {
   margin-top: 1rem;
}
